<% if object.errors.any? %>
	<% errors_messages = object.errors.full_messages %>
	<% errors_number = object.errors.count %>
	<% errors_messages.delete_at(0) && errors_number -= 1 if errors_messages[0] == "Password digest can't be blank" %>
	
	<div id="error explanation">
		<div class="alert alert-error">
			<p>The form contains <%= pluralize(errors_number, "error") %>:</p>
			<ul>
				<% errors_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	</div>
<% end %>