<h1>About</h1>
<p>
  <%= link_to "Yourl", "https://github.com/alessandroprioni/yourl" %>
  is a project by 
  <%= link_to "Alessandro Prioni", "http://twitter.com/ale_prioni" %> 
  to collect list of links.
</p>